{% extends 'layout.html.twig' %}


{% block fos_user_content %}
        {% block stylesheets %}
        {#}    {{ encore_entry_link_tags('app') }}#}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/spacelab/bootstrap.min.css">		
		<link href="{{ asset('css/layout.css') }}" rel='stylesheet' />
        {% endblock %}
	 	{% include "_partials/_entete.html.twig" %}	
      

<hr>
			<div class="row">
				<div>{# On affiche tous les messages flash dont le nom est « notice » #}
							
					{% for message in app.session.flashbag.get('notice') %}
						<div class="alert alert-danger">
							<p>Message : {{ message }}</p>
				
				  {% endfor %}
				</div>
			</div>
			
		<div class="row">			
			<div class="col-md-5 col-sm-6 col-xs-12">
				<h4><div class="card bg-primary text-white text-center">Poser une nouvelle Reservation</div></h4>
			</div>
		</div>

    {{ include('reserver/_form.html.twig') }}

    <a href="{{ path('reserver_liste') }}">back to list</a>
{% endblock %}


