{% extends 'layout.html.twig' %}


{% block fos_user_content %}
        {% block stylesheets %}
        {#}    {{ encore_entry_link_tags('app') }}#}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/spacelab/bootstrap.min.css">		
		<link href="{{ asset('css/layout.css') }}" rel='stylesheet' />
        {% endblock %}
	 	{% include "_partials/_entete.html.twig" %}
 <style>

   {#   table,th,td{border:2px solid  #3338ff }#}

</style>
<header>
<div class="container">	

		<div class="row">							
			<div class="col-6">
				<h4>Situation de Mon Compte</h4>
			</div>
		</div>
					
		<div class="row ">
			<div class="col-md-12">
				<table class="table table-striped table-bordered table-hover">
					<thead>
					  	<tr class="table-primary">
										
							<th>Date</th>
							<th>Libelle</th>																
							<th>N°Ecriture</th>
							<th>Débit</th>														
							<th>Credit</th> 
							<th>Solde</th>
 						</tr>
					</thead>

		{% for sommeTotale in pagination %}
			<tr>
				<td style="font-weight: bold;color:green;">{{ sommeTotale.operdate|date('d/m/Y')}}</td>
				<td style="font-weight: bold;color:#446e9b;">{{ sommeTotale.libelle}}</td>
				<td>{{ sommeTotale.id}}</td>								

			{% if sommeTotale.opersensmt == 0 %}
														
				<td><div class="card bg-danger text-white text-center"><span class="bold">{{ sommeTotale.opermontant | number_format(2, '.', ',')}}</span></div></td>
				<td></td>	
												
			{% else %}
				<td></td>														
				<td><div class="card bg-success text-white text-center"><span class="bold">{{sommeTotale.opermontant| number_format(2, '.', ',')}}</span></div></td>														
															
			{% endif %}							
				<td></td>
			</tr>
								
		{% endfor %}								

				{# affichage des sommes #}
															
				<td class="text-center"></td>
				<td class="text-center"></td>
			
				<td><div class="card bg-dark text-white text-center"><span class="bold">Totaux:</span></div></td>

					{% set soldeDebiteur = 0 %}
					{% set soldeCrediteur = 0 %}
					{% set credit = 0 %}
					{% set debit = 0 %}

						{% for key, montantdebit in montantdebit %}

							{% for montantdebit in montantdebit %}
								<td><div class="card bg-danger text-white text-center"><span class="bold">{{montantdebit| number_format(2, '.', ',')}}</span></div></td>					
									{% set debit = montantdebit %}
							{% endfor %}
																										
						{% endfor %}
															
						{% for key, montantcredit in montantcredit %}

							{% for montantcredit in montantcredit %}

								<td><div class="card bg-warning text-black text-center"><span class="bold">{{montantcredit| number_format(2, '.', ',')}}</span></div></td>				
								{% set credit = montantcredit %}
																
							{% endfor %}
															
								{% if debit > credit %}				
									{% set soldeDebiteur = debit - credit %}
								{% else %}
									{% set soldeCrediteur = credit - debit %}
								{% endif %}
															
						{% endfor %}

							{% if credit >= debit %}														
								<td><div class="card bg-success text-white text-center"><span class="bold">{{soldeCrediteur| number_format(2, '.', ',')}}</span></div></td>
							{% elseif debit >= credit %}
								<td><div class="card bg-danger text-white text-center"><span class="bold">{{soldeDebiteur| number_format(2, '.', ',')}}</span></div></td>
							{% endif %}	
	
				</table>

				<div class="pagination justify-content-center" style="margin:20px 0">
					{{ knp_pagination_render(pagination,'@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig',) }} 
				</div>
	
						</div>
					</div>
	
			<div>				
			<a href="{{ path('app_compte_paiement') }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Paiement</a>
			<a href="{{ path('app_MesDossiers') }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Mes Dossiers</a>
			<a href="{{ path('app_PDF_EtatCompte') }}" class="btn btn-outline-success" role="button" aria-pressed="true"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Télécharger</a>			
		
			</div>

</div>
        {% block javascript %}
           {{ encore_entry_script_tags('app') }}
        {% endblock %}
<header>
 {#   <!-- Include Flashy default partial--> #}
	{#	{{ include('@MercurySeriesFlashy/flashy.html.twig') }} #}
{#{% endblock %}#}

{% endblock %}